.field-name-field-bean-video-transcript {
  margin-bottom: 0;
}

.field-name-field-bean-video-transcript a {
  display: inline-block;
  background: white;
  border: 1px solid #cc0000;
  border-radius: 3px;
  padding: 0.15rem 0.25rem;
  font-size: 0.9rem;
  text-decoration: none;
}